@using DevExtreme.AspNet.Mvc
@model CityViewModel
@{
    ViewData["Title"] = "Pranic Ahmedbad - City";
}
<!-- Container Fluid-->
<div class="container-fluid" id="container-wrapper">
    @*    <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">State Master</h1>
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="./">Home</a></li>
    <li class="breadcrumb-item">Forms</li>
    <li class="breadcrumb-item active" aria-current="page">State Master</li>
    </ol>
    </div> *@

    <div class="row">
        <div class="col-lg-12">
            <!-- Form Basic -->
            <div class="card mb-6">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">City  Entry</h6>
                </div>
                <div class="card-body">
                    <form class="user" asp-controller="Account" asp-action="Save_City" method="post" id="frmCity">
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label"><span style="color:red">*</span>Country Name:</label>
                            <div class="col-sm-4">
                                @(Html.DevExtreme().SelectBox().ID("ddlCountryList")
                                    .DataSource(d => d.Mvc().Controller("Account").LoadAction("GetActiveCountryList").Key("intGlCode"))
                                    .DisplayExpr("varCountryName")
                                    .ValueExpr("intGlCode")
                                    .Placeholder("-- Select --")
                                    .SearchEnabled(true)
                                    .OnOpened("dxSelectBox_OnOpened")
                                    )

                            </div>

                            <label for="inputEmail3" class="col-sm-2 col-form-label"><span style="color:red">*</span>State Name:</label>
                            <div class="col-sm-4">
                                @(Html.DevExtreme().SelectBox().ID("ddlStateList")
                                    .DataSource(d => d.Mvc().Controller("Account").LoadAction("GetStateListActive").Key("intGlCode"))
                                    .DisplayExpr("varStateName")
                                    .ValueExpr("intGlCode")
                                    .Placeholder("-- Select --")
                                    .SearchEnabled(true)
                                    .OnOpened("dxSelectBox_OnOpened ")
                                    )

                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label"><span style="color:red">*</span>City Code:</label>
                            <div class="col-sm-4">
                                <input type="text" tabindex="1" required="required" class="form-control custom_input" maxlength="100" id="txtCityCode" asp-for="city_Master.varCityCode" placeholder="City Code">
                            </div>

                            <label for="inputEmail3" class="col-sm-2 col-form-label"><span style="color:red">*</span>City Name:</label>
                            <div class="col-sm-4">
                                <input type="text" tabindex="1" required="required" class="form-control custom_input" maxlength="100" id="txtCityName" asp-for="city_Master.varCityName" placeholder="City Name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Status:</label>
                            <div class="col-sm-4">
                                <input type="checkbox" asp-for="city_Master.chrActive" id="chkStatus" />
                            </div>
                        </div>
                        <input type="hidden" asp-for="@Model.city_Master.ref_CountryID" id="ref_CountryId" />
                        <input type="hidden" asp-for="@Model.city_Master.ref_StateID" id="ref_StateID" />
                        <input type="hidden" asp-for="@Model.city_Master.intGlCode" id="intGlCode" />
                        <input type="hidden" asp-for="@Model.city_Master.chrActive" id="chrActive" />

                        <div class="form-group row">
                            <div class="col-sm-3">
                                <button type="button" class="btn btn-primary" onclick="ValidateDataCity();">Save</button>
                                <button type="button" class="btn btn-dark" onclick="resetValidationcity();">Cancel</button>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>

    </div>
</div>
<br />
<!---Container Fluid-->
<!-- Container Fluid-->
<div class="container-fluid" id="container-wrapper">
    <div class="row">
        <!-- DataTable with Hover -->
        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">City List</h6>
                    <button type="button" class="btn btn-primary" onclick="ExportExcelCity();">Download</button>
                </div>
                <div class="table-responsive p-3">
                    @(Html.DevExtreme().DataGrid()
                        .ID("grdCityList")
                        .ShowBorders(true)
                        .DataSource(ds => ds.Mvc().Controller("Account").Key("intGlCode").LoadAction("GetCityList"))
                        .Selection(s => s.Mode(SelectionMode.Single))
                        .LoadPanel(f => f.Enabled(false))
                        .Columns(columns =>
                        {
                            columns.Add().DataField("intGlCode").Caption("Edit").Type(GridCommandColumnType.Buttons)
                            .Width(50)
                            .Buttons(b =>
                            {
                                b.Add().Name(GridColumnButtonName.Edit).Visible(true).Icon("edit").OnClick("editdataCity");

                            });
                            columns.Add().DataField("varCityCode").Caption("City Code");
                            columns.Add().DataField("varCityName").Caption("City Name");
                            columns.Add().DataField("CountryName").Caption("Country Name");
                            columns.Add().DataField("StateName").Caption("State Name");
                            columns.Add().DataField("chrActive").Caption("Status");
                            columns.Add().DataField("ref_CountryID").Caption("ref_CountryID").Visible(false);
                            columns.Add().DataField("ref_StateID").Caption("ref_StateID").Visible(false);
                            columns.Add().DataField("dtEntryDate").Caption("Entry Date");

                        })
                        .ColumnAutoWidth(true)
                        .Scrolling(scrolling => scrolling.ColumnRenderingMode(GridColumnRenderingMode.Standard))
                        .ShowRowLines(true)
                        .RowAlternationEnabled(true)
                        .Paging(paging => paging.PageSize(10))
                        .Pager(pager =>
                        {
                            pager.ShowInfo(true);
                        })
                        .Sorting(sorting => sorting.Mode(DevExtreme.AspNet.Mvc.GridSortingMode.Multiple))
                        .FilterRow(filterRow => filterRow
                        .Visible(true)
                        .ApplyFilter(GridApplyFilterMode.Auto)
                        )
                        .HeaderFilter(headerFilter => headerFilter.Visible(true))
                        .WordWrapEnabled(true)
                        )
                </div>
            </div>
        </div>
    </div>
</div>
@Html.AntiForgeryToken()
@section Scripts {
    <script src="~/Scripts/Account/city.js"></script>
    <script src="~/Scripts/Account/Common.js"></script>
}
<!---Container Fluid-->
